@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./common.scss";
@import "./variables.scss";
@import "./sidebar.scss";
@import "./editor-content-view.scss";

html,
body {
  width: 100vw;
  height: 100vh;

  #app {
    width: 100vw;
    height: 100vh;
  }
}

a {
  text-decoration: none;
}

.router-link-active {
  text-decoration: none;
}
